.signIn {
  margin-right: 4rem;
}
.form {
  display: flex;
  gap: 10px;
}
.form input {
  border: none;
  border-radius: 10px;
  padding: 0 10px;
  width: 150px;
}
.navbar button {
  border-radius: 10px;
  color: #45a29e;
  border-color: rgba(255, 255, 255, 0.668);
  background-color: rgba(252, 252, 252, 0);
  padding: 4px;
  border-width: 1.5px;
}
.sign-up-link {
  color: rgb(84, 156, 132);
  text-decoration: none;
}
.navbar button:hover {
  border-color: #0bcbc2;
}
.signedInMenu {
  display: flex;
  gap: 10px;
  width: 30%;
  justify-content: center;
  font-weight: 400;
}
.container-signUp-message {
  display: flex;
  gap: 10px;
}
.sign-up {
  font-size: 0.7rem;
  width: 160px;
  padding: 0 5px;
}
.form-message {
  font-size: 0.7rem;
  width: 160px;
  padding: 0 5px;
}
.clickable {
  cursor: pointer;
}
.smallMenu {
  display: none;
}
@media (max-width: 900px) {
  .form {
    display: none;
  }
  .container-signUp-message {
    display: none;
  }
  .smallMenu {
    display: flex;
    gap: 5px;
  }
  .smallMenu a {
    text-decoration: none;
    color: #45a29e;
  }

  .sign-up-btn {
    border-color: white;
  }
}
