@media (max-width: 1100px) {
  .container-blog-content-content {
    display: flex;
    flex-direction: column;
  }
  .container-blog-content-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .blog-content-img {
    max-height: 70%;
    width: 70%;
  }
}
