.container-about {
  margin-top: 140px;
}
.about-title {
  font-size: 30px;
  margin: 0 0 80px 200px;
  font-weight: bold;
}

.about-content {
  margin-top: 40px;
  padding: 0 250px 0 250px;
}
.container-about-logo {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-bottom: 200px;
  gap: 30px 100px;
  justify-content: center;
}

.logo {
  text-align: center;
}

@media (max-width: 600px) {
  .about-title {
    margin-left: 0;
    display: flex;
    justify-content: center;
  }
  .about-content {
    margin-top: 20px;
    padding: 20px;
  }
}
