.contact {
  display: flex;
  flex-direction: column;
  margin: 100px 0 100px 0;
  justify-content: center;
  font-size: 30px;
}
.contacts-title {
  margin-left: 200px;
}
.contact-logos {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}
