.signIn {
  margin-right: 4rem;
  width: 35%;
}
.form-message {
  font-size: 0.7rem;
}
.signedInMenu {
  display: flex;
  gap: 10px;
  width: 30%;
  justify-content: center;
}
.navbar button {
  border-radius: 10px;
  color: #45a29e;
  border-color: rgb(69, 105, 138);
  background-color: rgba(252, 252, 252, 0);
}
.navbar button:hover {
  border-color: #0bcbc2;
}
