html,
body {
  height: 100%;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Roboto", sans-serif, "Segoe UI", Tahoma, Geneva,
    Verdana;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: scroll;
}

#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
body::-webkit-scrollbar {
  display: none;
}

/* Hiding scrollbar for IE, Edge and Firefox*/

body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
